# Задачи за домашно

Работете върху копие на дадения файл <a href='https://raw.githubusercontent.com/geekcourses/JupyterNotebooksExamples/master/Notebooks/numpy_and_pandas/DataFrame_HW.ipynb' download>DataFrame_HW.ipynb</a>, като попълните с код клетките, маркирани с коментара ```# your code here```, така че получения от вас резлутат (output) да съвпада с дадения под съответната клетка с код.

## Задача 1

Използвайте данните в CSV файла даден тук: https://github.com/geekcourses/JupyterNotebooksExamples/blob/master/datasets/various/drinks.csv, като го свалите локално на вашата машина и заредите данните в DataFrame обект с име `df`.

Покажете първите 10 реда от `df`.

In [1]:
# your code here

import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/geekcourses/JupyterNotebooksExamples/master/datasets/various/drinks.csv')

df.head(10)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NaN
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU

## Задача 2

Покажете броя на редовете и колоните в `df`.

In [2]:
# your code here
print(f'Редове: {df.shape[0]}; Колони: {df.shape[1]}')

Редове: 193; Колони: 6

## Задача 3

Покажете колко е броя на държавите в континент 'EU'

In [3]:
# your code here

eu_shape = df[df.continent=='EU'].shape

# eu_shape =  df.groupby("continent").get_group('EU').shape

# eu_shape = df.continent.value_counts()

eu_shape
print(f"{eu_shape[0]} е броя на държавите в континент 'EU'")

45 е броя на държавите в континент 'EU'

## Задача 4

Покажете количествата бира ('beer_servings'), вино ('wine_servings') и спиртни напитки ('spirit_servings'), които се концумират в Bulgaria

In [4]:
# your code here

bulgaria_servings = df.loc[df.country == 'Bulgaria', ['country','beer_servings', 'spirit_servings', 'wine_servings']]
bulgaria_servings

     country  beer_servings  spirit_servings  wine_servings
25  Bulgaria            231              252             94

## Задача 5

Покажете какво е максимално количество консумирано вино ('wine_servings') в целия дейтасет и коя е държавата в която се консумира то.

In [5]:
# your code here

max_wine = df.wine_servings.max()
max_wine_idx = df.wine_servings.idxmax()
max_wine_country = df.loc[max_wine_idx, 'country']


print(f"Mаксималното количество консумирано вино в целия дейтасет е {max_wine} литра, консумирани във {max_wine_country}.")

Mаксималното количество консумирано вино в целия дейтасет е 370 литра, консумирани във France.

## Задача 6

Покажете какво е максимално количество консумирано вино ('wine_servings') в континент Южна Америка ('SA') и коя е държавата в която се консумира то.

In [6]:
# your code here

max_wine_in_sa = df.loc[df.continent=="SA",:].wine_servings.max()
max_wine_in_sa_idx = df.loc[df.continent=="SA",:].wine_servings.idxmax()
max_wine_country = df.loc[max_wine_in_sa_idx, 'country']


print(f"Mаксималното количество консумирано вино в Южна Америка е {max_wine_in_sa} литра, консумирани във {max_wine_country}")

Mаксималното количество консумирано вино в Южна Америка е 221 литра, консумирани във Argentina

## Задача 7

Покажете държавата в която се консумира най-много бира ('beer_servings'), какво е количеството и в кой континент се намира тя.

In [7]:
# your code here

max_beer = df.beer_servings.max()
max_beer_idx = df.beer_servings.idxmax()

max_beer_continent = df.loc[max_beer_idx, 'continent']
max_beer_country = df.loc[max_beer_idx, 'country']

print(f"Държавата в която се консумира най-много бира  е {max_beer_country} - {max_beer} литра. Намира се в {max_beer_continent}.")

Държавата в която се консумира най-много бира  е Namibia - 376 литра. Намира се в AF.

## Задача 8

Покажете държавите в които не се консумира бира.

In [8]:
# your code here

df.loc[df.beer_servings==0,'country']

0           Afghanistan
13           Bangladesh
40         Cook Islands
46          North Korea
79                 Iran
90               Kuwait
97                Libya
103            Maldives
106    Marshall Islands
107          Mauritania
111              Monaco
128            Pakistan
147          San Marino
149        Saudi Arabia
158             Somalia
Name: country, dtype: object