In [2]:
import pandas as pd

In [9]:
csv_file_path = 'https://raw.githubusercontent.com/geekcourses/JupyterNotebooksExamples/master/datasets/various/drinks.csv'

df = pd.read_csv(csv_file_path)

df_short = pd.concat([df[:3], df[-3:]])
df_short

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

In [12]:
# create Series Object:
prices_ds = pd.Series(
            [1.5, 2, 2.5, 3],
            index=["apples", "oranges", "bananas", "strawberries"]
)

# access element by label - dot notation:
print( prices_ds['apples'] )

# access elements by label - square brackets notation:
print( prices_ds['apples'] )

1.5
1.5