<div style="position:relative; height: 8em">
	<h1 style="position:absolute; left:0em; top:1em">Useful properties and methods (Part 1)</h1>
	<img src="../../../../outfit/images/logos/software-web@256x256.png" style="position:absolute; right:1em; top:0; margin:0">
</div>

In [1]:
import pandas as pd

## Create DF:

You can get the 'drinks.csv' file from https://github.com/geekcourses/JupyterNotebooksExamples/blob/master/datasets/various/drinks.csv

In [2]:
data = pd.read_csv("../../datasets/various/drinks.csv")
data.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

## get indexes and columns

In [3]:
index_labels = data.index
print(index_labels)
# print(list(index_labels))

RangeIndex(start=0, stop=193, step=1)

In [4]:
column_labels = data.columns
print(column_labels)
# print(list(column_labels))

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

## DF shape

In [5]:
data.shape

(193, 6)

## DF info

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     170 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

## DF describe

In [7]:
data.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

In [8]:
# note that all parameters in describe, are also defined as a separate functions
print('the mean values for all columns:')
print( data.mean() )

print('\nthe mean value for "wine_servings" column')
print( data['wine_servings'].mean() )

the mean values for all columns:
beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64

the mean value for "wine_servings" column
49.45077720207254

### Statistic notes: mean vs DF.median

The mean (average) of a data set is found by adding all numbers in the data set and then dividing by the number of values in the set. 

The median is the middle value when a <span style="color:red">data set is ordered</span> from least to greatest. If the number of observations is even, then the median is the simple average of the middle two numbers.

In [18]:
test_df = pd.DataFrame({
	"userName":['Pesho', 'Maria','Ivan'],
	"age": [20, 25, 60]
})
test_df

  userName  age
0    Pesho   20
1    Maria   25
2     Ivan   60

In [19]:
mean_age = test_df.age.mean()
median_age = test_df.age.median()

print(mean_age, median_age)

35.0 25.0