In [1]:
import pandas as pd
import numpy as np

# The Task

## Load dataset

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/ProgressBG-Python-Course/JupyterNotebooksExamples/master/datasets/various/drinks.csv')
df.head(3)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF

## Tasks

In [13]:
# select all contries which servs no beer
df.loc[df.beer_servings==0, 'country']

0           Afghanistan
13           Bangladesh
40         Cook Islands
46          North Korea
79                 Iran
90               Kuwait
97                Libya
103            Maldives
106    Marshall Islands
107          Mauritania
111              Monaco
128            Pakistan
147          San Marino
149        Saudi Arabia
158             Somalia
Name: country, dtype: object

In [ ]:
# select all contries which servs no beer and no wine

df.loc[(df.beer_servings==0)&(df.wine_servings==0), 'country']