<div style="position:relative; height: 8em">
	<h1 style="position:absolute; left:0em; top:1em">DataFrames Manipulations</h1>
	<img src="../../../../outfit/images/logos/software-web@256x256.png" style="position:absolute; right:1em; top:0; margin:0">
</div>

In [1]:
import pandas as pd

## Create Weather datasets

In [2]:
eu_weather_df = pd.DataFrame({
  "town": ["Atina", "Oslo", "London"],
  "temp":[35,21,25],
  "rain": [False, False, True ]
})
eu_weather_df

     town  temp   rain
0   Atina    35  False
1    Oslo    21  False
2  London    25   True

In [3]:
bg_weather_df = pd.DataFrame({
  "town": ["Sofia", "Sandanski", "Pleven"],
  "temp":[25,32,21],
  "rain": [False, False, True ]
})
bg_weather_df

        town  temp   rain
0      Sofia    25  False
1  Sandanski    32  False
2     Pleven    21   True

## Re-arange columns

In [7]:
eu_weather_df = eu_weather_df[["temp", "rain","town"]]
eu_weather_df

   temp   rain    town
0    35  False   Atina
1    21  False    Oslo
2    25   True  London

In [8]:
# but let get the order back:
eu_weather_df = eu_weather_df[['town', 'temp', 'rain']]
eu_weather_df

     town  temp   rain
0   Atina    35  False
1    Oslo    21  False
2  London    25   True

## Insert Columns

### Insert column into DF at specified location

Reference:https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.insert.html

In [13]:
# it's a good practice to check for column existence, before inserting it
if not "wind" in eu_weather_df.columns:
    eu_weather_df.insert(3,"wind",[1.5, 7.5, 4])
eu_weather_df

     town  temp   rain  wind
0   Atina    35  False   1.5
1    Oslo    21  False   7.5
2  London    25   True   4.0

## Deleting columns

#### in place: with del or pop()

In [16]:
if 'wind' in eu_weather_df:
	del eu_weather_df["wind"]
	# eu_weather_df.pop("wind")

eu_weather_df

     town  temp   rain
0   Atina    35  False
1    Oslo    21  False
2  London    25   True

#### with DF.drop method

Reference: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html

In [19]:
# we can use columns argument to drop column(s) 
eu_weather_df.drop(columns=["temp","rain"])

     town
0   Atina
1    Oslo
2  London

In [21]:
# or we can pass list of column names as first argument, and specify axis=1, in order to drop columns:
eu_weather_df.drop(["temp","rain"], axis=1)

     town
0   Atina
1    Oslo
2  London

In [ ]:
# note that most oerations of DataFrame objects do not modify the original object, but return a copy 
eu_weather_df

## Append new rows

#### with append()

In [ ]:
# keep original indexes - deafult:
# appended_weather = eu_weather_df.append(bg_weather_df, sort=False)

#auto indexing
appended_weather = eu_weather_df.append(bg_weather_df,sort=False, ignore_index=True )

appended_weather

## Concatenate DataDrames along a particular axis

Reference: https://pandas.pydata.org/docs/reference/api/pandas.concat.html

### Concatenate Columns

In [ ]:
wind_df=pd.DataFrame([3.4, 2, 6.5], columns=["wind"])

# we have to specify axis=1, in order to append columns, not rows
bg_weather_df= pd.concat([bg_weather_df, wind_df],axis=1)
bg_weather_df

In [ ]:
# keep indexes
concat_weather = pd.concat([eu_weather_df, bg_weather_df],sort=False)

# auto indexing:
# concat_weather = pd.concat([eu_weather_df, bg_weather_df], ignore_index=True, sort=False)

# add keys for each DF
concat_weather = pd.concat([eu_weather_df, bg_weather_df],
                           keys=["EU", "BG"],sort=False)

# later, we can retrieve by index location:
# concat_weather.loc["BG"]

concat_weather

### Concat dataframe as new columns, i.e. axis=1

In [ ]:
print(eu_weather_df)
print(bg_weather_df)
concat_weather_as_columns = pd.concat([eu_weather_df, bg_weather_df], axis=1)
concat_weather_as_columns