# Задача 1: Categorical to numerical values

In [1]:
import pandas as pd

Дадени са следните данни

In [2]:
users = {
	'age': [23,34,14,31,45],
	'gender':['male','female','female','male','male']
}

Създайте DataFrame (users_df) от дадените данни, в който всички категорийни стойности ще бъдат заместени с числови такива.

In [3]:
# your code here

Очакван резултат

In [4]:
users_df

   age  gender
0   23       1
1   34       0
2   14       0
3   31       1
4   45       1

Качете вашето решение (файл: cat_to_num_HW.ipynb) в Github.