<div style="position:relative; height: 8em">
	<h1 style="position:absolute; left:0em; top:1em">Useful properties and methods (Part 2)</h1>
	<img src="../../../../outfit/images/logos/software-web@256x256.png" style="position:absolute; right:1em; top:0; margin:0">
</div>

In [1]:
import pandas as pd

## Create DF:

You can get the 'drinks.csv' file from https://github.com/geekcourses/JupyterNotebooksExamples/blob/master/datasets/various/drinks.csv

In [2]:
data = pd.read_csv("../datasets/drinks.csv")
data.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

## Selecting by max/min values in DF

### Get maximum values of columns

In [3]:
# Get maximum values of every column
data.max()

/tmp/ipykernel_25032/2893624927.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.max()

country                         Zimbabwe
beer_servings                        376
spirit_servings                      438
wine_servings                        370
total_litres_of_pure_alcohol        14.4
dtype: object

In [4]:
# find max values for wine, beer and pure_alcohol
max_wine_servings = data.wine_servings.max()
print(f'max_wine_servings: {max_wine_servings}')

max_pure_alcohol = data.total_litres_of_pure_alcohol.max()
print(f'max_pure_alcohol: {max_pure_alcohol}')

max_beer_servings = data.beer_servings.max()
print(f'max_beer_servings: {max_beer_servings}')

max_wine_servings: 370
max_pure_alcohol: 14.4
max_beer_servings: 376

### Get max values of row(s)

must use df.max(axis=1)

In [5]:
# get max value of every row:
data.max(axis=1).head(5)

/tmp/ipykernel_25032/567390524.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.max(axis=1).head(5)

0      0.0
1    132.0
2     25.0
3    312.0
4    217.0
dtype: float64

In [6]:
# find max value from alcohol servings columns in row for Bulgaria
alcohol_servings_columns = ['beer_servings','spirit_servings','wine_servings']

bulgaria_data = data.loc[data.country == 'Bulgaria', alcohol_servings_columns]
# print(bulgaria_data)
bulgaria_data.max(axis=1)

25    252
dtype: int64

### Get label/coulmn of max value over row/column: df.idxmax()

Reference: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.idxmax.html

#### Exmple: find max value per row (alcohol servings columns for Bulgaria)

In [7]:
alcohol_servings_columns = ['beer_servings','spirit_servings','wine_servings']

bulgaria_data = data.loc[data.country == 'Bulgaria', alcohol_servings_columns]
# print(bulgaria_data)
bulgaria_data.idxmax(axis=1)

25    spirit_servings
dtype: object

#### Exmple: find row index for max value per column (wine_servings)

In [8]:
idx = data.wine_servings.idxmax()

print(f'Row index with max wine_servings: {idx}')

print(f'Country with max wine_servings: {data.loc[idx,"country"]}')

Row index with max wine_servings: 61
Country with max wine_servings: France

### Example: find country with max wine servings

In [9]:
wine_max_idx = data.wine_servings.idxmax()
print(wine_max_idx)
data.iloc[wine_max_idx,:]

61

country                         France
beer_servings                      127
spirit_servings                    151
wine_servings                      370
total_litres_of_pure_alcohol      11.8
continent                           EU
Name: 61, dtype: object

## Grouping

Reference: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html

### Create groups

In [10]:
df = pd.DataFrame(
    [
        ("bird", "Falconiformes", 389.0),
        ("bird", "Psittaciformes", 24.0),
        ("mammal", "Carnivora", 80.2),
        ("mammal", "Primates", 0),
        ("mammal", "Carnivora", 58),
    ],
    index=["falcon", "parrot", "lion", "monkey", "leopard"],
    columns=("class", "order", "max_speed"),
)
df

          class           order  max_speed
falcon     bird   Falconiformes      389.0
parrot     bird  Psittaciformes       24.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates        0.0
leopard  mammal       Carnivora       58.0

In [11]:
# group data by "class" column:
class_group = df.groupby("class")

In [12]:
# lets see created groups
class_group.groups

{'bird': ['falcon', 'parrot'], 'mammal': ['lion', 'monkey', 'leopard']}

In [13]:
# Selecting a group
class_group.get_group("bird")

       class           order  max_speed
falcon  bird   Falconiformes      389.0
parrot  bird  Psittaciformes       24.0

### Aggregating functions

<table class="colwidths-given table">
<colgroup>
<col style="width: 20%">
<col style="width: 80%">
</colgroup>
<thead>
<tr class="row-odd"><th class="head"><p>Function</p></th>
<th class="head"><p>Description</p></th>
</tr>
</thead>
<tbody>
<tr class="row-even"><td><p><code class="xref py py-meth docutils literal notranslate"><span class="pre">mean()</span></code></p></td>
<td><p>Compute mean of groups</p></td>
</tr>
<tr class="row-odd"><td><p><code class="xref py py-meth docutils literal notranslate"><span class="pre">sum()</span></code></p></td>
<td><p>Compute sum of group values</p></td>
</tr>
<tr class="row-even"><td><p><code class="xref py py-meth docutils literal notranslate"><span class="pre">size()</span></code></p></td>
<td><p>Compute group sizes</p></td>
</tr>
<tr class="row-odd"><td><p><code class="xref py py-meth docutils literal notranslate"><span class="pre">count()</span></code></p></td>
<td><p>Compute count of group</p></td>
</tr>
<tr class="row-even"><td><p><code class="xref py py-meth docutils literal notranslate"><span class="pre">std()</span></code></p></td>
<td><p>Standard deviation of groups</p></td>
</tr>
<tr class="row-odd"><td><p><code class="xref py py-meth docutils literal notranslate"><span class="pre">var()</span></code></p></td>
<td><p>Compute variance of groups</p></td>
</tr>
<tr class="row-even"><td><p><code class="xref py py-meth docutils literal notranslate"><span class="pre">sem()</span></code></p></td>
<td><p>Standard error of the mean of groups</p></td>
</tr>
<tr class="row-odd"><td><p><code class="xref py py-meth docutils literal notranslate"><span class="pre">describe()</span></code></p></td>
<td><p>Generates descriptive statistics</p></td>
</tr>
<tr class="row-even"><td><p><code class="xref py py-meth docutils literal notranslate"><span class="pre">first()</span></code></p></td>
<td><p>Compute first of group values</p></td>
</tr>
<tr class="row-odd"><td><p><code class="xref py py-meth docutils literal notranslate"><span class="pre">last()</span></code></p></td>
<td><p>Compute last of group values</p></td>
</tr>
<tr class="row-even"><td><p><code class="xref py py-meth docutils literal notranslate"><span class="pre">nth()</span></code></p></td>
<td><p>Take nth value, or a subset if n is a list</p></td>
</tr>
<tr class="row-odd"><td><p><code class="xref py py-meth docutils literal notranslate"><span class="pre">min()</span></code></p></td>
<td><p>Compute min of group values</p></td>
</tr>
<tr class="row-even"><td><p><code class="xref py py-meth docutils literal notranslate"><span class="pre">max()</span></code></p></td>
<td><p>Compute max of group values</p></td>
</tr>
</tbody>
</table>

### Example: find the max wine_servings per each continent

In [14]:
# group data by continent column:
continent_group = data.groupby('continent')
# lets see created groups
continent_group.groups

{'AF': [2, 4, 18, 22, 26, 27, 28, 29, 31, 33, 34, 38, 39, 47, 49, 53, 55, 56, 58, 62, 63, 66, 70, 71, 88, 95, 96, 97, 100, 101, 104, 107, 108, 114, 115, 117, 123, 124, 142, 148, 150, 152, 153, 158, 159, 162, 164, 172, 175, 179, 183, 191, 192], 'AS': [0, 12, 13, 19, 24, 30, 36, 46, 77, 78, 79, 80, 82, 85, 86, 87, 90, 91, 92, 94, 102, 103, 112, 116, 119, 127, 128, 134, 137, 138, 141, 149, 154, 161, 167, 168, 169, 171, 176, 177, 181, 186, 189, 190], 'EU': [1, 3, 7, 9, 10, 15, 16, 21, 25, 42, 44, 45, 48, 57, 60, 61, 64, 65, 67, 75, 76, 81, 83, 93, 98, 99, 105, 111, 113, 120, 126, 135, 136, 139, 140, 147, 151, 155, 156, 160, 165, 166, 170, 180, 182], 'OC': [8, 40, 59, 89, 106, 110, 118, 121, 125, 129, 131, 146, 157, 173, 178, 187], 'SA': [6, 20, 23, 35, 37, 52, 72, 132, 133, 163, 185, 188]}

In [15]:
continent_group.wine_servings.max()

continent
AF    233
AS    123
EU    370
OC    212
SA    221
Name: wine_servings, dtype: int64

## Detect missing values

In [16]:
# check weather any missing values exists:
print(data.isnull().values.any())

# show the sum of missing values per column:
print(data.isnull().sum())

True
country                          0
beer_servings                    0
spirit_servings                  0
wine_servings                    0
total_litres_of_pure_alcohol     0
continent                       23
dtype: int64

## Tasks

1. Select country names of non european countries which have wine servings above the mean
2. Select country names for countries with 0 wine and beer servings
3. Select country name with max wine_servings in SA
4. Stack Overflow Annual Developer Survey Insights
   1. Download the dataset for 2022 year: https://insights.stackoverflow.com/survey
   2. Get familiar with Survey Data Schema and load the dataset as DataFrame
   3. Find the mean and median for Salary